# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\UNI-AUST\ICT 355L - Internet Of Things Lab\ICT355L - Exam II - Nael Ghannam - 12190510\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
